toast/get-toast-restaurants-workflow.json
{
  "name": "Get Toast Restaurants Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "toast/restaurants",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "id": "webhook-trigger-get",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "SUPABASE-EDGE-API-KEY"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "auth-header-check",
              "leftValue": "={{ $json.headers.authorization ?? $json.headers.Authorization }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "restaurant-id-check",
              "leftValue": "={{ $json.headers[\"toast-restaurant-external-id\"] ?? $json.headers[\"Toast-Restaurant-External-ID\"] }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-headers",
      "name": "Validate Required Headers",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "error-status",
              "name": "statusCode",
              "value": 400,
              "type": "number"
            },
            {
              "id": "error-body",
              "name": "body",
              "value": "={{ { \"error\": \"Missing required headers\", \"message\": \"Authorization and Toast-Restaurant-External-ID headers are required\" } }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "missing-headers-error",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        450
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "log-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "log-headers",
              "name": "headers",
              "value": "={{ $json.headers }}",
              "type": "object"
            },
            {
              "id": "log-query",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "object"
            },
            {
              "id": "log-webhook",
              "name": "webhookUrl",
              "value": "={{ $json.webhookUrl }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "log-request",
      "name": "Log Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        150
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.TOAST_API_HOSTNAME }}/config/v2/restaurants",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization ?? $json.headers.Authorization }}"
            },
            {
              "name": "Toast-Restaurant-External-ID",
              "value": "={{ $json.headers[\"toast-restaurant-external-id\"] ?? $json.headers[\"Toast-Restaurant-External-ID\"] }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pageSize",
              "value": "={{ $json.query.pageSize }}"
            },
            {
              "name": "page",
              "value": "={{ $json.query.page }}"
            },
            {
              "name": "lastModified",
              "value": "={{ $json.query.lastModified }}"
            }
          ]
        },
        "options": {}
      },
      "id": "forward-to-toast-api",
      "name": "Forward to Toast API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        150
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        150
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": "={{ $json.statusCode }}",
        "responseBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        450
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Required Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Headers": {
      "main": [
        [
          {
            "node": "Log Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Error Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Request": {
      "main": [
        [
          {
            "node": "Forward to Toast API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Toast API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-08T14:44:00.000Z",
  "versionId": "1.0.0"
}
