instagram/put-instagram-comment-reply-workflow.json
{
  "name": "Reply to Instagram Comment Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "instagram/comments/reply",
        "httpMethod": "PUT",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "SUPABASE-EDGE-API-KEY"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "auth-header-check",
              "leftValue": "={{ $json.headers.authorization ?? $json.headers.Authorization }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "comment-id-check",
              "leftValue": "={{ $json.body.commentId }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "message-check",
              "leftValue": "={{ $json.body.message }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-headers-body",
      "name": "Validate Headers and Body",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "error-status",
              "name": "statusCode",
              "value": 400,
              "type": "number"
            },
            {
              "id": "error-body",
              "name": "body",
              "value": "={{ { \"error\": \"Missing required parameters\", \"message\": \"Authorization header, commentId, and message are required\" } }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "missing-params-error",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        450
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "log-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "log-headers",
              "name": "headers",
              "value": "={{ $json.headers }}",
              "type": "object"
            },
            {
              "id": "log-body",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "log-webhook",
              "name": "webhookUrl",
              "value": "={{ $json.webhookUrl }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "log-request",
      "name": "Log Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://graph.facebook.com/v22.0/\" + $json.body.commentId + \"/replies\" }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization ?? $json.headers.Authorization }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": $json.body.message } }}",
        "options": {}
      },
      "id": "forward-to-instagram-api",
      "name": "Forward to Instagram API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        150
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        150
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": "={{ $json.statusCode }}",
        "responseBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        450
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Headers and Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Headers and Body": {
      "main": [
        [
          {
            "node": "Log Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Error Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Request": {
      "main": [
        [
          {
            "node": "Forward to Instagram API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Instagram API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-08T14:44:00.000Z",
  "versionId": "1.0.0"
}
