google/put-google-review-reply-workflow.json
{
  "name": "Put Google Business Review Reply Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "google/reviews/reply",
        "httpMethod": "PUT",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "id": "webhook-trigger-google-reply",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "SUPABASE-EDGE-API-KEY"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "auth-header-check",
              "leftValue": "={{ $json.headers.authorization ?? $json.headers.Authorization }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "account-id-check",
              "leftValue": "={{ $json.body.accountId }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "location-id-check",
              "leftValue": "={{ $json.body.locationId }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "review-id-check",
              "leftValue": "={{ $json.body.reviewId }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "comment-check",
              "leftValue": "={{ $json.body.comment }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-headers-google-reply",
      "name": "Validate Required Parameters",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [540, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "error-status",
              "name": "statusCode",
              "value": 400,
              "type": "number"
            },
            {
              "id": "error-body",
              "name": "body",
              "value": "={{ { \"error\": \"Missing required parameters\", \"message\": \"Authorization header and body with accountId, locationId, reviewId, and comment are required\" } }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "missing-params-error-google-reply",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [840, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "return-error-response-google-reply",
      "name": "Return Error to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1140, 450]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "log-timestamp",
              "name": "logTimestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "log-headers",
              "name": "logHeaders",
              "value": "={{ $json.headers }}",
              "type": "object"
            },
            {
              "id": "log-body",
              "name": "logBody",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "webhook-url",
              "name": "webhookUrl",
              "value": "={{ $json.webhookUrl }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "log-request-google-reply",
      "name": "Log Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [840, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://mybusiness.googleapis.com/v4/accounts/\" + $json.body.accountId + \"/locations/\" + $json.body.locationId + \"/reviews/\" + $json.body.reviewId + \"/reply\" }}",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization ?? $json.headers.Authorization }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"comment\": $json.body.comment } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "forward-to-google-api-reply",
      "name": "Forward to Google API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-to-webhook-google-reply",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1440, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Required Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Parameters": {
      "main": [
        [
          {
            "node": "Log Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Error Response": {
      "main": [
        [
          {
            "node": "Return Error to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Request": {
      "main": [
        [
          {
            "node": "Forward to Google API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Google API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false,
  "tags": []
}
