resy/get-resy-reservations-workflow.json
{
  "name": "Get Resy Reservations Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "resy/reservations",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "id": "webhook-trigger-resy-reservations",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "SUPABASE-EDGE-API-KEY"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "auth-header-check",
              "leftValue": "={{ $json.headers.authorization ?? $json.headers.Authorization }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "venue-id-check",
              "leftValue": "={{ $json.query.venueId }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-headers-resy",
      "name": "Validate Required Headers and Params",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "error-status",
              "name": "statusCode",
              "value": 400,
              "type": "number"
            },
            {
              "id": "error-body",
              "name": "body",
              "value": "={{ { \"error\": \"Missing required parameters\", \"message\": \"Authorization header and venueId query parameter are required\" } }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "missing-params-error-resy",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        450
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "return-error-response-resy",
      "name": "Return Error to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1140,
        450
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "log-timestamp",
              "name": "logTimestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "log-headers",
              "name": "logHeaders",
              "value": "={{ $json.headers }}",
              "type": "object"
            },
            {
              "id": "log-query",
              "name": "logQuery",
              "value": "={{ $json.query }}",
              "type": "object"
            },
            {
              "id": "webhook-url",
              "name": "webhookUrl",
              "value": "={{ $json.webhookUrl }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "log-request-resy",
      "name": "Log Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.resy.com/3/user/reservations",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization ?? $json.headers.Authorization }}"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"
            },
            {
              "name": "Origin",
              "value": "https://resy.com"
            },
            {
              "name": "Referer",
              "value": "https://resy.com/"
            }
          ]
        },
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "venueId",
              "value": "={{ $json.query.venueId }}"
            },
            {
              "name": "startDate",
              "value": "={{ $json.query.startDate ?? '' }}"
            },
            {
              "name": "endDate",
              "value": "={{ $json.query.endDate ?? '' }}"
            },
            {
              "name": "status",
              "value": "={{ $json.query.status ?? '' }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.query.limit ?? '' }}"
            },
            {
              "name": "offset",
              "value": "={{ $json.query.offset ?? '' }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "forward-to-backend-resy",
      "name": "Forward to Resy API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1140,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-to-webhook-resy",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1440,
        200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Required Headers and Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Headers and Params": {
      "main": [
        [
          {
            "node": "Log Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Error Response": {
      "main": [
        [
          {
            "node": "Return Error to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Request": {
      "main": [
        [
          {
            "node": "Forward to Resy API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Resy API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false,
  "tags": []
}