yelp/put-yelp-review-reply-workflow.json
{
  "name": "Reply to Yelp Business Review Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "yelp/reviews/reply",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "id": "webhook-trigger-yelp-reply",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "SUPABASE-EDGE-API-KEY"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "auth-header-check",
              "leftValue": "={{ $json.headers.authorization ?? $json.headers.Authorization }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "review-id-check",
              "leftValue": "={{ $json.body.reviewId }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "response-text-check",
              "leftValue": "={{ $json.body.response_text }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-headers-yelp-reply",
      "name": "Validate Required Headers and Body",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "error-status",
              "name": "statusCode",
              "value": 400,
              "type": "number"
            },
            {
              "id": "error-body",
              "name": "body",
              "value": "={{ { \"error\": \"Missing required parameters\", \"message\": \"Authorization header, reviewId, and response_text are required\" } }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "missing-params-error-yelp-reply",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        450
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-error-yelp-reply",
      "name": "Respond to Webhook (Error)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        450
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "timestamp-log",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "headers-log",
              "name": "headers",
              "value": "={{ $json.headers }}",
              "type": "object"
            },
            {
              "id": "body-log",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "review-id-log",
              "name": "reviewId",
              "value": "={{ $json.body.reviewId }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "log-request-yelp-reply",
      "name": "Log Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://partner-api.yelp.com/reviews/v1/\" + $json.body.reviewId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization ?? $json.headers.Authorization }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"response_text\": $json.body.response_text, \"response_type\": \"public_comment\" } }}",
        "options": {}
      },
      "id": "forward-to-yelp-api",
      "name": "Forward to Yelp Partner API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        150
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success-yelp-reply",
      "name": "Respond to Webhook (Success)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        150
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Required Headers and Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Headers and Body": {
      "main": [
        [
          {
            "node": "Log Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Request": {
      "main": [
        [
          {
            "node": "Forward to Yelp Partner API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Yelp Partner API": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-08T14:56:00.000Z",
  "versionId": "1.0.0"
}
